body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: navajowhite;
}

.btn {
    background-color:rgba(150, 96, 244, 0.79);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 480px;
    padding: 20px;
    margin: 20px;
    font-size: large;
}

.btn:hover{
    background-color: sandybrown;
}
